In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
twiter_data=pd.read_csv(r'C:\\Users\HP\Desktop\predictiong disaster tweet\train.csv')

In [3]:
twiter_data.head(10)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1

In [4]:
twiter_data.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

In [5]:
twiter_data.isnull().sum()/len(twiter_data)*100

id           0.000000
keyword      0.801261
location    33.272035
text         0.000000
target       0.000000
dtype: float64

#Data info

In [6]:
twiter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

percent of null value

In [7]:
print(twiter_data.isnull().count()/len(twiter_data))

id          1.0
keyword     1.0
location    1.0
text        1.0
target      1.0
dtype: float64

# Describe Data

In [8]:
twiter_data.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [9]:
twiter_data.target.value_counts()

0    4342
1    3271
Name: target, dtype: int64

disatster: 3271  
non disatser:4342

# Data Analysis

# Top 15 location

In [10]:
twiter_data.location.value_counts().nlargest(n=15)

USA                104
New York            71
United States       50
London              45
Canada              29
Nigeria             28
UK                  27
Los Angeles, CA     26
India               24
Mumbai              22
Washington, DC      21
Kenya               20
Worldwide           19
Australia           18
Chicago, IL         18
Name: location, dtype: int64

# Top 15 Keyword

In [11]:
twiter_data.keyword.value_counts().nlargest(n=15)

fatalities     45
armageddon     42
deluge         42
damage         41
sinking        41
harm           41
body%20bags    41
windstorm      40
siren          40
collided       40
twister        40
outbreak       40
evacuate       40
fear           40
flames         39
Name: keyword, dtype: int64

In [12]:
disatster_tweet=[]
non_disatster_tweet=[]
for i in range(0,len(twiter_data.target)):
    if twiter_data.target[i]==1:
        disatster_tweet.append(twiter_data.location[i])
        non_disatster_tweet.append('')
    else:
        non_disatster_tweet.append(twiter_data.location[i])
        disatster_tweet.append('')

In [13]:
twiter_data['Disater']=disatster_tweet

In [14]:
twiter_data.Disater.value_counts().nlargest(4)

                 4342
USA                67
United States      27
Nigeria            22
Name: Disater, dtype: int64

usa more country have disatser tweet

In [15]:
twiter_data['non_disaster']=non_disatster_tweet

In [16]:
twiter_data.non_disaster.value_counts().nlargest(3)

            3271
New York      55
USA           37
Name: non_disaster, dtype: int64

USA also have more non disater tweet

In [17]:
import re

In [18]:
disater_word=[]
non_disaster_word=[]
for i in range(0,len(twiter_data.text)):
    if twiter_data.target[i]==1:
        disater_word.append(twiter_data.text[i])
    else:
        non_disaster_word.append(twiter_data.text[i])

# clean text

In [19]:
def clean_tweet(text):
  text=re.sub(r'#[a-zA-Z0-9|_]*',' ',text) #remove hastag
  text=re.sub(r'@[a-zA-Z0-9|_]*',' ',text) #remove user name
  text=re.sub(r'https?:\/\/\S+',' ',text)  #remove hyper link
  text=re.sub(r'\W',' ',text) #remove any exept char
  text=re.sub(r'\d',' ',text)#remove digit
  text=re.sub(r'^\s+',' ',text)#remove whitespace
  text=re.sub(r's+$',' ',text)#remove space last
  return text

In [20]:
clean_disatser_word=[]
for i in range(0,len(disater_word)):
    clean_disatser_word.append(clean_tweet(disater_word[i]))

In [21]:
non_clean_disatser_word=[]
for i in range(0,len(non_disaster_word)):
    non_clean_disatser_word.append(clean_tweet(non_disaster_word[i]))

In [22]:
clean_disatser_word[0]

'Our Deeds are the Reason of this   May ALLAH Forgive us all'

In [23]:
from nltk.tokenize import TweetTokenizer
from nltk import tokenize

In [24]:
tok=TweetTokenizer()
split_word=tok.tokenize(clean_disatser_word[0])
split_word

['Our',
 'Deeds',
 'are',
 'the',
 'Reason',
 'of',
 'this',
 'May',
 'ALLAH',
 'Forgive',
 'us',
 'all']

In [25]:
split_disaster_word=[]
for i in range(0,len(clean_disatser_word)):
    tweet=clean_disatser_word[i].split()
    split_disaster_word.append(tweet)

In [26]:
split_non_disaster_word=[]
for i in range(0,len(non_clean_disatser_word)):
    tweet=non_clean_disatser_word[i].split()
    split_non_disaster_word.append(tweet)

# most word occure in each class

In [30]:
def most_frequent(List):
    counter = 0
    word = List[0]
     
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            word = i
 
    return word

# most word in disaster class

In [49]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [65]:
from nltk.corpus import stopwords
stop_words=stopwords.words('english')

In [66]:
def most_word(list):
    most_word=[]
    for i in range(0,len(list)):
        for v in range(0,len(list[i])):
            if list[i][v].lower() in stop_words:
                pass
            else:
                most_word.append(list[i][v])
    return most_word

In [67]:
most_disaster_word=most_word(split_disaster_word)
most_disaster_word=most_frequent(split_disaster_word)
most_disaster_word

['Watch',
 'This',
 'Airport',
 'Get',
 'Swallowed',
 'Up',
 'By',
 'A',
 'Sandstorm',
 'In',
 'Under',
 'A',
 'Minute']

# most word in non_disaster class

In [68]:
most_non_disaster_word=most_frequent(split_non_disaster_word)
most_non_disaster_word

['Funtenna',
 'hijacking',
 'computers',
 'to',
 'send',
 'data',
 'as',
 'sound',
 'waves',
 'Black',
 'Hat']

In [69]:
split_disaster_word[1][2]

'near'

# most commen stop word

In [70]:
def stop_word(list):
    stop_wordss=[]
    for i in range(0,len(list)):
        for v in range(0,len(list[i])):
            
            if list[i][v]  in stop_words:
                stop_wordss.append(list[i][v])
            else:
                pass
    return stop_wordss

# most commen stop word in disaster class

In [71]:
most_disatser_stop=stop_word(split_disaster_word)
most_disatser_stop=most_frequent(most_disatser_stop)
most_disatser_stop

'the'

# most commen stop word in non_disaster class

In [72]:
most_non_disaster_stop=stop_word(split_non_disaster_word)
most_non_disaster_stop=most_frequent(most_non_disaster_stop)
most_non_disaster_stop

'the'

# preprocessing

In [73]:
from nltk.stem import PorterStemmer

In [74]:
ps = PorterStemmer()

In [77]:
def preprocsing(list):
    result=[]
    for tweets in range(0,len(list)):
        tweet=list[tweets].split()
        tweet=[word for word in tweet  if word.lower() not in stop_words]
        tweet=[ps.stem(word) for word in tweet]
        result.append(tweet)
    return result

In [78]:
final_disaster_word=preprocsing(clean_disatser_word)
final_non_disaster_word=preprocsing(non_clean_disatser_word)

In [80]:
twiter_data_test=pd.read_csv(r'C:\\Users\HP\Desktop\predictiong disaster tweet\test.csv')

# pad sequance

In [81]:
from tensorflow.keras.preprocessing.text import Tokenizer
import keras

In [349]:
clean_disatser_word[0]

'Our Deeds are the Reason of this   May ALLAH Forgive us all'

merge two class in one list to put in train

In [347]:
merge_list=[]
for i in range(0,len(twiter_data.text)):
    tweet=clean_tweet(twiter_data.text[i])
    merge_list.append(twiter_data.text[i])

In [315]:
merge_test_list=[]
for i in range(0,len(twiter_data_test.text)):
    tweet=clean_tweet(twiter_data_test.text[i])
    merge_test_list.append(tweet)

In [486]:
tekonizer=Tokenizer(num_words=100)
t1=tekonizer.fit_on_texts(merge_list)
t2=tekonizer.fit_on_texts(merge_test_list)
sequence_train=tekonizer.texts_to_sequences(merge_list)
sequence_test=tekonizer.texts_to_sequences(merge_test_list)

In [491]:
sequence_train = keras.preprocessing.sequence.pad_sequences(sequence)
sequence_test=keras.preprocessing.sequence.pad_sequences(sequence2)

In [352]:
sequence_train.shape

(7613, 21)

In [409]:
target_train=twiter_data.target.values

In [410]:
from sklearn.model_selection import train_test_split

In [411]:
target_train.shape

(7613,)

In [412]:
sequence_train1,sequence_test1,y_train,y_test=train_test_split(sequence_train,target_train,random_state=42,test_size=0.2)

In [413]:
sequence_train.shape

(7613, 21)

In [414]:
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, Dropout

# create LSTM model

In [421]:
model = Sequential()
model.add(Embedding(len(tekonizer.word_index)+1,100))
model.add(LSTM(128, activation = 'relu'))
model.add(Dropout(0.2))


model.add(Dense(64, activation = 'relu'))
model.add(Dropout(0.2))

model.add(Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential_41"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_38 (Embedding)     (None, None, 100)         2548300
_________________________________________________________________
lstm_38 (LSTM)               (None, 128)               117248
_________________________________________________________________
dropout_104 (Dropout)        (None, 128)               0
_________________________________________________________________
dense_104 (Dense)            (None, 64)                8256
_________________________________________________________________
dropout_105 (Dropout)        (None, 64)                0
_________________________________________________________________
dense_105 (Dense)            (None, 1)                 65
=================================================================
Total params: 2,673,869
Trainable params: 2,673,869
Non-trainable params: 0
_________________________________________________________________

In [422]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [437]:
callback = keras.callbacks.EarlyStopping(monitor='val_accuracy', patience=4)
history1=model.fit(sequence_train1,y_train,batch_size=128,epochs=20,validation_data=(sequence_test1,y_test),callbacks=[callback])

Epoch 1/20
48/48 [==============================] - 3s 65ms/step - loss: 0.1494 - accuracy: 0.9258 - val_loss: 0.3080 - val_accuracy: 0.8680
Epoch 2/20
48/48 [==============================] - 3s 65ms/step - loss: 0.1542 - accuracy: 0.9251 - val_loss: 0.3103 - val_accuracy: 0.8634
Epoch 3/20
48/48 [==============================] - 3s 66ms/step - loss: 0.2090 - accuracy: 0.9089 - val_loss: 0.4056 - val_accuracy: 0.8267
Epoch 4/20
48/48 [==============================] - 3s 65ms/step - loss: 0.2135 - accuracy: 0.9056 - val_loss: 0.3656 - val_accuracy: 0.8404
Epoch 5/20
48/48 [==============================] - 3s 65ms/step - loss: 0.1639 - accuracy: 0.9217 - val_loss: 0.3702 - val_accuracy: 0.8523

In [438]:
evaluation = model.evaluate(sequence_test1, y_test)

48/48 [==============================] - 0s 7ms/step - loss: 0.3702 - accuracy: 0.8523

# accuracy = 85.23

In [439]:
model.save('disaster_tweets.h5')

# prediction

In [492]:
predict=model.predict(sequence_test)

In [493]:
final_predict=[]
for i in range(0,len(predict)):
    if predict[i] >= 0.5:
        final_predict.append(1)
    else:
        final_predict.append(0)

# add target to test.cv data

In [494]:
twiter_data_test['target']=final_predict